/* Base Application Styles */

#app{height: 100%;}
#app div:nth-child(1){height: 100%;}
/*取消默认样式*/
body, html{height: 100%;}
body{overflow: hidden;}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
img {border: 0 none; vertical-align: top;}
*{
	font-family: 'Microsoft Yahei';
	box-sizing: border-box;
	font-size: 14px;
	margin: 0;
	padding: 0;
	}
img {
	border: 0 none;
	vertical-align: top;
}
ul, li {list-style-type: none;}
body, input, select, button, textarea{outline: none;}
input[type=checkbox]{
	border: 1px solid #ddd;
	border-radius: 2px;
}
input[type=text]{
	height: 32px;
	padding: 0 3px;
	border-radius: 2px;
	border: 1px solid #d5dbdf;
}
select{
	border: 1px solid #e5e6e7;
	border-radius: 2px;
	outline: 0;
}
textarea {
	resize: none;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 1px 3px;
}
button {
	cursor: pointer;
	padding: 5px 15px;
	border: 0;
	border-radius: 2px;
	background: #e55d74;
	color: #fff;
}
i, em {font-style: normal;}
b {font-weight: normal;}
a{
	color: #3f454c;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*清浮动*/
.clearfix:after{display: block; content: ''; clear: both;}
.clearfix{zoom: 1;}
.fl{float: left;}
.fr{float: right;}
/*表格样式*/
.table{
	display: table;
	width: 100%;
	border-collapse:collapse;
	border: 1px solid #ddd;
}
.tbody{display: table-row-group;}
.thead{
	display: table-header-group;
	background: #f2f2f2;
}
.tr{
	display: table-row;
	border: 1px solid #ddd;
}
.tr:nth-child(even){
	background: #f2f2f2;
}
.tr:hover{
	background: #fae4e6;
}
.td{
	display: table-cell;
	padding: 8px 10px;
}
.td a{color: #e55d74;}
.td a:hover{color: #f33;}
/*display属性*/
.block{display: block;}
.none{display: none;}
.inline-block{display: inline-block;}
.inline{display: inline;}
/*宽度*/
.percent-40{width: 40% !important;}
.percent-55{width: 55% !important;}
/*高度*/
.hight-10{height: 10px !important;}
/*背景颜色*/
.bg-white{background: #fff !important;}
.bg-blue{background: #58c9f3 !important;}
.bg-pink{background: #df7587 !important;}
/*距离*/
.mg-top-10{margin-top: 10px !important;}
.mg-top-5{margin-top: 5px !important;}
.mg-top-3{margin-top: 3px !important;}

.mg-left-30{margin-left: 30px !important;}
.mg-left-10{margin-left: 10px !important;}
.mg-left-5{margin-left: 5px !important;}
.mg-left-3{margin-left: 3px !important;}

.mg-right-45{margin-right: 45px !important;}
.mg-right-30{margin-right: 30px !important;}
.mg-right-25{margin-right: 25px !important;}
.mg-right-20{margin-right: 20px !important;}
.mg-right-15{margin-right: 15px !important;}
.mg-right-10{margin-right: 10px !important;}
.mg-right-5{margin-right: 5px !important;}
.mg-right-3{margin-right: 3px !important;}

.mg-bottom-10{margin-bottom: 10px !important;}
.mg-bottom-5{margin-bottom: 5px !important;}
.mg-bottom-3{margin-bottom: 3px !important;}

.mg-auto{margin:0 auto !important;}

.padding-bottom-15{padding-bottom: 15px !important;}
.padding-bottom-40{padding-bottom: 40px !important;}
.padding-top-10{padding-top: 10px !important;}
.padding-top-15{padding-top: 15px !important;}
.padding-right-15{padding-right: 15px !important;}
/*定位*/
.absolute{position: absolute;}
.relative{position: relative;}
.fixed{position: fixed;}
.inherit{position: inherit;}

.left-0{left: 0;}
.right-0{right: 0;}
.top-0{top: 0;}
.bottom-0{bottom: 0;}

.left-10{left: 10px;}
.right-10{right: 10px;}
.top-10{top: 10px;}
.bottom-10{bottom: 10px;}

.left-20{left: 20px;}
.right-20{right: 20px;}
.top-20{top: 20px;}
.bottom-20{bottom: 20px;}
/*字体对齐*/
.text-center{text-align: center !important;}
/*字号大小*/
.f-12{font-size: 12px !important;}
.f-14{font-size: 14px !important;}
.f-16{font-size: 16px !important;}
.f-18{font-size: 18px !important;}
.f-20{font-size: 18px !important;}
.f-bold{font-weight: bold !important;}
/*字体颜色*/
.f-black{color: #000;}
.f-white{color: #fff;}
.f-pink{color: #e28595;}
/*复选框*/
.check{
  color: red;
  background: black;
  padding: 1em;
}














