.nav{
	width: 210px;
	height: calc(100% - 68px);
	background: #32363e;
}

.nav-a{
	position: relative;
	display: block;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	padding-left: 85px;
	border-left: 4px solid #32363e;
	color: #a7aaab;
	background: #32363e;
}
.nav-a:hover{
	background: #40444e;
	transition: all 0.25s cubic-bezier(0.35,-0.66, 0.85, 2.11);
}
.nav-a-active{
	color: #e55d74;
	border-left: 4px solid #e55d74;
}


.span-1{
	position: absolute;
	left: 36px;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/sprites.png);
	background-position: -21px -20px;
}
.span-1-active{
	background-position: -64px -20px;
}
.span-2{
	position: absolute;
	left: 36px;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/sprites.png);
	background-position: -21px -70px;
}
.span-2-active{
	background-position: -64px -70px;
}
.span-3{
	position: absolute;
	left: 36px;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/sprites.png);
	background-position: -21px -120px;
}
.span-3-active{
	background-position: -64px -120px;
}
.span-4{
	position: absolute;
	left: 36px;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/sprites.png);
	background-position: -21px -170px;
}
.span-4-active{
	background-position: -64px -170px;
}
.span-5{
	position: absolute;
	left: 36px;
	top: 13px;
	width: 30px;
	height: 30px;
	background-image: url(../../images/sprites.png);
	background-position: -21px -220px;
}
.span-5-active{
	background-position: -64px -220px;
}




